<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oscuro Quintet</title>
    <link rel="stylesheet" href="assets/css/foundation.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/slick-theme.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="assets/css/fontello.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="assets/css/font-awesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/css/linea-styles.css" />
    <link rel="stylesheet" href="assets/css/linea-arrows-styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,400,400i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <script src="assets/js/modernizr-custom.js"></script>
  </head>
	<body>
		<div class="logo">
      <a href="index.html">OSCURO QUINTET</a>
		</div>

		{{!-- About --}}
		<div id="about" class="box">
      <div class="header">
        <nav>
          <h2>
            <a href="#" onclick="">
              <video loop autoplay muted playsinline class="nav-video">
                <source src='assets/img/@stock/about-19.optimized..faststart.mp4' type='video/mp4'>
              </video>
              <svg width="600" height="338" viewBox="0 0 600 338" class="svg-graphic" id="svg-graphic-about">
                <defs>
                  <mask id="about-mask" x="0" y="0" width="600" height="338" >
                    <rect x="0" y="0" width="600" height="338" fill="#fff" />
                    <polygon points="330.2,28.7 269.8,28.7 149,308.3 215.4,308.3 241.4,247.9 358.6,247.9 384.6,308.3 451,308.3  " />            
                  </mask>
                </defs>
                <!-- rect should be bigger than 337.5, vector shape should be smaller than 337.5 -->
                <!-- the 337.5 is calcutated by 600 / 16 * 9 -->
                <rect x="0" y="0" width="600" height="338" />
              </svg>
              <span>About</span>
            </a>
          </h2>
        </nav>
        <div class="header-title invisible">
          <div class="row">
            <div class="large-8 columns">
              {{#with about}}
                <h2>{{header}}</h2>
							{{/with}}
            </div>
          </div>

        </div>
      </div>
      <div class="content invisible">
        <div class="two spacing"></div>
        <div class="full full-screen">
          <div class="large-12 columns">
            {{#with about}}
              <h2 class="colored-title">
                {{headline}}
              </h2>
              <p class="big-text">
                {{content}}
              </p>
            {{/with}}
            <div class="spacing"></div>
            <p class="action-hint">
              <span class="scroll-down">
                Scroll down to know more about us.
                <i class="icon-arrows-slim-down"></i>
              </span>
            </p>
            <div class="circle-1">
            </div>
            <div class="circle-2">
            </div>
            <div class="circle-3">
            </div>
            <div class="triangle-1">
            </div>
          </div>
        </div>
        <div class="full">
          <div class="large-12 columns">
            <h2>Clients we've worked with.</h2>
            
          </div>

        </div>
        <div class="full">
          <div class="large-12 columns">
            <h2>What we do.</h2>
          </div>
          <div class="large-6 medium-6 columns">
            <p class="big-text">We use research and strategy to create brands’ most powerful values. We achieve this via our four steps of see, think, create and practice. </p>
            <p class="big-text">Your brand is the most important part of your business which shows the authenticity and quality and so brings sales and loyalty. We cerate and develop brand strategies, products and services that matter to your business target.
            </p>
          </div>
          <div class="large-6 medium-6 columns">
            <p class="big-text">Our journey started in 2005 and we have 18 people form the globe, we are on the goals of our clients, and it makes the work a lot of fun.</p>
            <p class="big-text">If you are curious about the brands we can provide to you, we can offer a range of talks.</p>
          </div>
          <div class="three spacing"></div>
          <div class="large-4 columns">
            <div class="icon-text">
              <div class="icon-1"></div>
              <h3>Strategy</h3>
              <ul>
                <li>Research & data</li>
                <li>Brand planning</li>
                <li>Storyboarding</li>
                <li>Content strategy</li>
                <li>Positioning</li>
              </ul>
            </div>
          </div>
          <div class="large-4 columns">
            <div class="icon-text">
              <div class="icon-2"></div>
              <h3>Design</h3>
              <ul>
                <li>UI & UX</li>
                <li>Marketing</li>
                <li>Culture & voice</li>
                <li>Wireframing & prototyping</li>
              </ul>
            </div>
          </div>
          <div class="large-4 columns">
            <div class="icon-text">
              <div class="icon-3"></div>
              <h3>Experience</h3>
              <ul>
                <li>Website & apps</li>
                <li>Content</li>
                <li>Campaigns</li>
                <li>Support & maintenance</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="spacing"></div>
      </div>
    </div>
		{{!-- End About --}}

    {{!-- Performers --}}
    <div id="works" class="box">
      <div class="header">
        <nav>
          <h2>
            <a href="#">
              <video loop autoplay muted playsinline class="nav-video">
                <source src='assets/img/@stock/works-2.optimized..faststart.mp4' type='video/mp4'>
              </video>
  
              <svg width="600" height="338" viewBox="0 0 600 338" class="svg-graphic" id="svg-graphic-works">
                <defs>
                  <mask id="works-mask" x="0" y="0" width="600" height="338" >
                    <rect x="0" y="0" width="600" height="338" fill="#fff" />
                      <polygon points="300 304,394 304,394 154,454 140,454 30,300 30"></polygon>
                  </mask>
                </defs>
                <!-- rect should be bigger than 337.5, vector shape should be smaller than 337.5 -->
                <!-- the 337.5 is calcutated by 600 / 16 * 9 -->
                <rect x="0" y="0" width="600" height="338" />
              </svg>       

              <span>Performers</span>
            </a>
          </h2>
        </nav>
        <div class="header-title invisible">
          <div class="row">
            <div class="large-8 columns">
              <h2>Works</h2>
              <p>We build brands people trust. Our values and ideas bring people and brands together.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="content invisible">
        <div class="works">

          {{!-- {{#each performers}}
            <div class="large-4 medium-6 columns">
              <div class="item">
                <a href="{{link}}">
                  <div class="circle-wrap">
                    <div class="media work-13"></div>
                  </div>
                  <div class="client-name">
                    <h2>Member</h2>
                    <h3>{{name}}</h3>
                  </div>
                  <div class="project">
                    <h2>Instrument</h2>
                    <h3>{{instrument}}</h3>
                  </div>
                </a>
              </div>
            </div>
          {{/each}} --}}

          {{#performer}}
            {{#each this}}
              <div class="large-4 medium-6 columns">
                <div class="item">
                  <a href="/performer/{{page_slug}}">
                    <div class="circle-wrap">
                      <div class="media work-13"></div>
                    </div>
                    <div class="client-name">
                      <h2>Member</h2>
                      <h3>{{performer_entry.name}}</h3>
                    </div>
                    <div class="project">
                      <h2>Instrument</h2>
                      <h3>{{performer_entry.instrument}}</h3>
                    </div>
                  </a>
                </div>
              </div>
            {{/each}}
          {{/performer}}

        </div>
      </div>
      	{{>footer}}
    </div>
    {{!-- End Performers --}}

    <script src="assets/js/bower_components/jquery/dist/jquery.js"></script>
    <script src="assets/js/bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="assets/js/bower_components/countto/jquery.countTo.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.validate.js"></script>    
    <script src="assets/js/slick.min.js" type="text/javascript"></script>
    <script src="assets/js/app.js"></script>
	</body>
</html>